*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.outer-grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 65% 35%;
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1/2;
}
nav{
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2/3;
}
main{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 200px 200px 200px 200px;
}

.main-img{    
    grid-column: 1/3;
    grid-row: 1/2;
}
.main-section-article{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid black;
}
.main-section-img-with-describe{
    grid-column: 1/2;
    grid-row: 3/5;
    border: 2px solid black;
}
aside{
    display: block;
}
.aside-section-video{
    border: 2px solid black;
}
.aside-section-navigate{
    border: 2px solid black;
}
footer{
}
img{
    height: 10px;
    width: 10px;
}
iframe{
    height: 100px;
    width: 100px;
}
